.footer {
  display: flex;
  padding: 0 ;
  text-align: center;
  background-color: #f5f5f5;
  
}

.header-container {
  background-color: black;
  display: flex;
  flex-direction: row;
  color: white;
  width: 100%;
  justify-content: center;
  align-content: center;

}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.footer-icon {
  color: #da3d33;
  display: flex;
  font-size: 36px;
}

.footer-text {
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
}

.footer-button {
  margin-top: 14px;
  padding: 8px;
  border-radius: 50px;
  background-color: #df3939de;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
  text-transform: none;
}

.footer-button:hover {
  background-color: #9f1515;
}

/* Responsive styling */
@media (min-width: 601px) {

  .footer {
    display: flex;
  }

  .header-container{
    display: flex;
    flex-direction: row;
    padding:  0 2rem 0 2rem ;
    /* justify-content: space-evenly; */
  }

  .footer-content {
    display: flex;
    justify-content: center;
    /* margin-left: 25%; */
    /* margin-top: 15px; */

  }

  .footer-icon {
    display: flex;
    font-size: 28px;
    /* Adjust icon size */
  }

  .footer-text {
    font-size: 1rem;
    display: flex;
    margin: 0.5rem;
    /* margin-left: 2rem; */
    /* Adjust text size */
  }

  .footer-button {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    /* margin-right: 550px; */
    margin-bottom: 20px;
    font-size: 0.9rem;
  }
}

@media (max-width: 600px) {
  .footer {
    display: none;
    padding: 12px 8px;
    /* Adjust padding for very small screens */
  }

  .header-container {
    display: flex;
    width: 100%;

  }

  .footer-content {
    display: flex;
    flex-direction: column;
    /* Stack the footer content vertically */
    gap: 8px;
    /* Reduce gap between items */
  }


  .footer-text {
    display: flex;
    font-size: 0.9rem;

    /* Smaller text size */

  }

  .footer-button {
    font-size: 0.8rem;
    /* Smaller button font size */
  }
}