*{
    font-family: 'Manrope';
}
.App{
    width: 100vw !important;
}

.MuiAppBar-root {
    width: 100%;
    position: relative; /* Use relative instead of fixed */
    margin-right: 0 !important;
  }